@font-face {
    font-family: RobotoSlab;
    src: url(../src/fonts/RobotoSlab_var.ttf);
}
@font-face {
    font-family: ShareTech;
    src: url(../src/fonts/ShareTechMono.ttf);
}

body {
    overflow: hidden;
    margin: 0;
    background-color: black;
    background-image: url(../src/img/stars.svg);
}

#warp {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

#center {
    width: 160vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

#c_left {
    position: relative;
    left: 0;
    width: 80vh;
    height: 100vh;
}

#c_right {
    position: relative;
    left: 80vh;
    top: -100vh;
    width: 80vh;
    height: 100vh;
}

#radar {
    position: relative;
    top: -15vh;
    left: -10vh;
    width: calc(80vh - 10vh);
    height: calc(80vh - 10vh);
    border-radius: 50vh;
    border:  solid 3vh #333;
    cursor: url("../src/img/radar_cursor.png") 32 32, auto; 
    background-color: black;
    /* background-image: url("../src/img/stars.png"); */
    background-image: url("../src/img/radar_default.svg");
    background-size: contain;
    z-index: 3;
}

.trail {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
}

#radar_scan {
    opacity: .8;
    animation: rotate 6s infinite linear reverse;
}

#def_trail {
    opacity: 1;
}

.planet {
    position: absolute;
    width: 4.6vh;
    height: 4.6vh;
    border-radius: 3vh;
    transform: translate(-0.95vh, -0.95vh);
    border-radius: 2rem;
}

#kapitalus {
    top: 50%;
    left: 25%;
}

#varicrementer {
    top: 25%;
    left: 62.5%;
}

#subsistur {
    top: 62.5%;
    left: 75%;
}


#kapitalus:hover,
#varicrementer:hover,
#subsistur:hover {
    cursor: url("../src/img/radar_cursor_active.svg") 32 32, auto;

}

#monitor {
    overflow: hidden;
    font-family: ShareTech;
    color: white;
    position: relative;
    right: 0px;
    width: 80vh;
    height: 60vh;
    border: solid 3vh #333;
    background-color: black;
    transform: perspective(60px) rotateY(-1deg);
}

hr {
    color: white;
    width: 20vh;
    margin-left: 4rem;
}

p,
q {
    margin: .4rem;
    margin-left: 1.6rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

q {
    line-height:  6rem;
    quotes: none;
    font-style: italic;
}

h3 {
    letter-spacing: 4px;
    text-transform: lowercase;
}

h2 {
    margin-left: 1.5rem;
    margin-top: 2.5rem;
    text-transform: lowercase;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bolder;
}

h1 {
    font-size: 2.4rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#d_def,
.display {
    position: absolute;
    top: 3rem;
    left: 2rem;
    transition: .3s ease-in-out;
}

.display {
    width: 50vh;
}

#d_kapi,
#d_vari,
#d_subs {
    opacity: 0;
}

.info {
    border-radius: 2rem;
    border: solid 3px gray;

}

.planet_prev {
    position: absolute;
    top: -3rem;
    left: 51vh;
    height: 60vh;

    animation: rotate 70s infinite linear;
}

#cursor_img {
    margin-top: 9vh;
    margin-left: 8rem;
    height: 20vh;
    width: 20vh;

    animation: pulse 3s infinite ease-in-out;
    transition: ease-in-out;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}


#cockpit_controls,
#cockpit_controls_sel {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1;
}
#cockpit_controls_sel {
    display: none;
}

#black {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1;
    transition: 3s ease-in;
    z-index: 10;
}