@font-face {
    font-family: RobotoSlab;
    src: url(../src/fonts/RobotoSlab_var.ttf);
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: RobotoSlab;
}


#planet_bg {
    position: absolute;
    opacity: .8;
    height: 200%;
    width: auto;
    top: -50%;

    opacity: .3;
}


#brak_o, #brak_c {
    position: absolute;
    height: calc(100% - 3.6rem);
    width: 5rem;
    border: solid rgb(192, 192, 192) 1.8rem;
    mix-blend-mode: hard-light;
}

#brak_o {
    /* left: 10vw; */
    border-right: none;
}

#brak_c {
    right: 0vw;
    border-left: none;
}

#prev, #next {
    position: absolute;
    width: 12rem;
    height: calc(100% + 6rem );
    transform: translate(-3rem, -3rem);
}
#next {
    right: 0;
    transform: translate(3rem, -3rem);
}

#planet {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 100vh;

    perspective: 1800px;
}
#controls,
#boxDiv {
    position: absolute;
    top: 10vh;
    left: 12vw;
    width: 61vw;
    height: 80vh;
}

#boxDiv {
    transform-style: preserve-3d; 
    transition: .4s ease-in-out; 
}

#front {
    position: absolute;
    height: 80vh;
    width: 100%;
    transform: translateZ(1.8rem);


}

#left, #right {
    position: absolute;
    height: 80vh;
    opacity: 0.7;
    top:0;
    width: 1.8rem;
    background: white;

}

#right {
    right: 0;
    transform: rotateY(90deg);
    transform-origin: right; 
}

#left {
    left: 0;
    transform: rotateY(-90deg) ;
    transform-origin: left;
}

#content {
   position: absolute;
   width: 80%;
   left: 10%;
   height: 80%;
   top: 10%;
}

p {
    line-height: 1.8rem;
}

li {
    margin-top: 1.5rem;
    text-align: left;
}
.e {
    list-style: none;
    font-style: italic;
    margin-top: .6rem;
    margin-left: 2rem;
    padding-left: .5rem;
    border-left: solid 2px white;
    opacity: .8;
}
q {
    quotes: none;
    margin-left: 2rem;
    border-left: 2px white;
}


#quickswitch {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    bottom: 0;
    width: 30.5vw;
    text-align: center;
    left: 15.25vw;
    /* background-color: #0f0; */
}

.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: .2rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    opacity: .3;
    transition: opacity 0.4s ease;
}

.active, .dot:hover {
    opacity: .8;
}

#s1, #s2, #s3, #s3, #s4, #s5 {
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    visibility: hidden;
}
p {
    line-height: 2.2rem;
}


/* .title {
    position: absolute;
    top: 0rem;
    left: 0rem;
} */

#rocket {
    position: absolute;
    top: 40vh;
    left: 5vw;
    height: auto;
    width: 6vw;

    transform-origin: 100vw center;
    transform: rotate(-320deg);

    animation: rotate 10s infinite linear;

    z-index: 10;
}

#back {
    font-family: RobotoSlab;
    font-size: .9rem;
    position: absolute;;
    bottom: -8rem;
    width: 100%;
    text-align: center;
    opacity: .9;
    font-style: italic;
}


@keyframes rotate_n {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(-180deg);}
}

@keyframes rotate {
    0% {transform: rotate(40deg);}
    50% {transform: rotate(-40deg);}
    100% {transform: rotate (-320deg);}
}


