@font-face {
    font-family: RobotoSlab;
    src: url(../src/fonts/RobotoSlab_var.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: 'RobotoSlab', monospace;
}

#text_content {
    height: 3000px;
    background: linear-gradient(#000, #04002c, #a0ecff);
    
}

#fade_in {
    opacity: 0;
    transition: .3s linear;
}

#down {
    position: fixed;
    bottom: 5vh;
    width: 10vw;
    margin-left: 45vw;
    height: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    transform: scale(.6);

    transition: .2s linear;
}

#down:hover {
 transform: scale(.8);
}

#d1, #d2, #d3 {
    position: absolute;
    top: 0;
    width: 4rem;
    height: 4rem;
    border: solid white .5rem;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

#d2 {
    top: 3.5rem;
    width: 3.2rem;
    height: 3.2rem;
}
#d3 {
    top: 6.9rem;
    width: 2.4rem;
    height: 2.4rem;
}

#between_fade {
    height: 15vh;
    background-color: #a0ecff;
}

#fader {
    background: linear-gradient(to top, #a0ecff, #00000000);
    height: 100%;
    position: relative;
} 

#rocket_bottom {
    background-color: #a0ecff;
    background: linear-gradient(to bottom, #a0ecff, #deeff3);
    position: relative;
    height: 100vh;
    width: 100vw;
}

.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    transform: rotate(0deg);
    backface-visibility: hidden;
    perspective: 1000px;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;

    background-image: url(../src/img/stars.png);
}

.rock {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
}
.launch {
    transition: ease-in;
    transition-duration: .5s;
    transform: translateY(-80vh);

}

#smoke {
    opacity: 0;
    transition: .4s linear;
}

#black {
 opacity: 0;
 background-color: #000;
 z-index: 10;
 height: 100%;
 transition: .8s ease-in;
}

/* #rocket_launching, */
#spark1,
#spark2,
#spark3,
#lever_down {display: none;}

#rocket_launching {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#brak_l, #brak_r {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: calc(100% - 1.4rem);
    border: solid .7rem #ff6753;
    border-right: none;
}

#brak_r {
    left: auto;
    right: 0;
    border: solid .7rem #ff6753;
    border-left: none;
}
#start_mission {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 28%;
    color: #ff6753;
    vertical-align: middle;
}

#start_mission p {
    margin: 2rem;
}

#lever_hitbox {
    position: absolute;
    width: 15vh;
    height: 15vh;
    left: 19%;
    bottom: 9vw;
    /* background-color: orchid;
    opacity: .4; */
    z-index: 20;
}

#lever_anim1, #lever_anim2 {
    opacity: 0;
    transition: .2s opacity;
}

#lever_anim1 { animation: lever_highlight1 4s linear infinite;}
@keyframes lever_highlight1 {
    65% { opacity: 0;}
    75% { opacity: .7;}
    97% { opacity: .7;}
}

#lever_anim2 { animation: lever_highlight2 4s linear infinite;}
@keyframes lever_highlight2 {
    75% { opacity: 0;}
    85% { opacity: .4;}
    97% { opacity: .4;}
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-5px, 20px, 0) rotate(5deg);
    }
    
    20%, 80% {
      transform: translate3d(10px, -10px, 0) rotate(-4deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, -15px, 0) rotate(0deg);
    }
  
    40%, 60% {
      transform: translate3d(12px, 18px, 0) rotate(2deg);
    }
  }




#brak_o, #brak_c {
    position: fixed;
    top: 20vh;
    height: 60vh;
    width: 5rem;
    border: solid rgb(255, 255, 255) 20px;
    mix-blend-mode: hard-light;
}

#brak_o {
    left: 10vw;
    border-right: none;
   
}

#brak_c {
    right: 10vw;
    border-left: none;
}

#text {
    position: fixed;
    top: 20vh;
    height: 60vh;
    align-items: center;
    display: flex;
    align-items: center;

    text-align: center;
    font-size: 2.8rem;
    opacity: 0;
    transition: .8s;
}



#t1, #t2, #t3, #t4, #t5, #t6, #t7 {
    position: absolute;
    display: inline;
    justify-self: center;
    align-self: center;
    margin-left: 20vw;
    width: 60vw;
    opacity: 0;
    transition: 1.0s opacity;
}

#t1 {opacity: 1;}

#source {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 24px;
    height: 32px;
    border: solid white 4px;

    color: white;
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family: monospace;
}

#a0 {
    position: absolute;
    top: 0px;
}
#a1 {
    position: absolute;
    top: 300px;
}
#a2 {
    position: absolute;
    top: 600px;
}
#a3 {
    position: absolute;
    top: 900px;
}
#a4 {
    position: absolute;
    top: 1200px;
}
#a5 {
    position: absolute;
    top: 1500px;
}
#a6 {
    position: absolute;
    top: 1800px;
}
#a7 {
    position: absolute;
    top: 4000px;
}
