body {
    margin: 0;
}

#text_content {
    height: 5000px;
    background: linear-gradient(#000, #04002c, #a0ecff);
    
}

#fade_in {
    opacity: 0;
    transition: .3s linear;
}

#down {
    position: fixed;
    bottom: 5vh;
    width: 10vw;
    margin-left: 45vw;
    height: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    transform: scale(.6);

    transition: .2s linear;
}

#down:hover {
 transform: scale(.8);
}

#d1, #d2, #d3 {
    position: absolute;
    top: 0;
    width: 4rem;
    height: 4rem;
    border: solid white .5rem;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

#d2 {
    top: 3.5rem;
    width: 3.2rem;
    height: 3.2rem;
}
#d3 {
    top: 6.9rem;
    width: 2.4rem;
    height: 2.4rem;
}

#between_fade {
    height: 15vh;
    background-color: #a0ecff;
}

#fader {
    background: linear-gradient(to top, #a0ecff, #00000000);
    height: 100%;
    position: relative;
} 

#rocket_bottom {
    background-color: #a0ecff;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;

    background-image: url(../src/stars.png);
}

#rocket {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
}

#brak_o, #brak_c {
    position: fixed;
    top: 20vh;
    height: 60vh;
    width: 5rem;
    border: solid rgb(255, 255, 255) 20px;
    mix-blend-mode: hard-light;
}

#brak_o {
    left: 10vw;
    border-right: none;
   
}

#brak_c {
    right: 10vw;
    border-left: none;
}

#text {
    position: fixed;
    top: 40vh;
    vertical-align: middle;
    /* height: 6rem; */

    text-align: center;
    font-size: 2.8rem;
    opacity: 0;
    transition: .8s;
}

#t1, #t2, #t3 {
    position: absolute;
    margin-left: 20vw;
    width: 60vw;
    opacity: 0;
    transition: 1.0s opacity;
}

#t1 {opacity: 1;}

#source {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 24px;
    height: 32px;
    border: solid white 4px;

    color: white;
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family: monospace;
}

#a0 {
    position: absolute;
    top: 0px;
}
#a1 {
    position: absolute;
    top: 400px;
}
#a2 {
    position: absolute;
    top: 800px;
}
#a3 {
    position: absolute;
    top: 5500px;
}