#atmos {
    position: absolute;
    background-color: rgba(76, 142, 117, 0.74);
    height: 200%;
    width: 205vw;
    border-radius: 120vw;
    opacity: .6;
    filter: blur(9vw);
    top: -50%;
}

#s2 li {
    margin-top: .5rem;
}
